<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Skaters </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!--1-->
        <ion-card>
          <img
            src="https://cdn.pixabay.com/photo/2019/11/11/16/49/skater-4618922_640.jpg"
          />
          <ion-card-header>
            <ion-card-title>Jerry</ion-card-title>
            <ion-card-subtitle>Ohio</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: Longboarder</p>
            <p>
              Bio: Blitz is all about speed and style. He's often seen racing
              down the city's busy streets and weaving through traffic. His
              longboard is his trusted companion, and he's known for his
              impressive downhill skills.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <!--2-->
        <ion-card>
          <img
            src="https://cdn.pixabay.com/photo/2015/06/25/16/54/skater-821502_640.jpg"
          />
          <ion-card-header>
            <ion-card-title>Sebastian </ion-card-title>
            <ion-card-subtitle>California</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: Street Skater</p>
            <p>
              Bio: Sebastian is known for his fearless approach to street
              skating. He's a master of grinds and kickflips and is famous for
              conquering some of the gnarliest urban spots. When he's not
              skating, he's a graffiti artist, and his deck is always adorned
              with his unique artwork.
            </p></ion-card-content
          >
        </ion-card>
      </ion-col>

      <ion-col>
        <!--3-->
        <ion-card>
          <img
            src="https://cdn.pixabay.com/photo/2016/09/16/17/30/skateboard-1674624_640.jpg"
          />
          <ion-card-header>
            <ion-card-title>Trevor</ion-card-title>
            <ion-card-subtitle>California</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: Park Skater</p>
            <p>
              Bio: Trevor is a park skating prodigy. He shreds through bowls and
              halfpipes with incredible flow and style. He's also an aspiring
              punk rock guitarist and incorporates his love for music into his
              skating sessions.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!--4-->
        <ion-card>
          <img
            src="https://cdn.pixabay.com/photo/2021/06/07/05/22/man-6316984_640.jpg"
          />
          <ion-card-header>
            <ion-card-title>Ashley</ion-card-title>
            <ion-card-subtitle>Texas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: Vert Skater</p>
            <p>
              Bio: Ashley is a vert ramp queen. She's known for her jaw-dropping
              aerial tricks and her determination to break records. Luna is also
              an advocate for gender equality in skateboarding, and she mentors
              young girls who want to get into the sport.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--5-->
        <ion-card>
          <img
            src="https://cdn.pixabay.com/photo/2015/12/13/20/53/skateboard-1091710_1280.jpg"
          />
          <ion-card-header>
            <ion-card-title>Tony</ion-card-title>
            <ion-card-subtitle>Minnesota</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: Freestyle Skater</p>
            <p>
              Bio: Tony is a freestyle skateboarding sensation. She combines
              dance-like moves with technical tricks to create mesmerizing
              routines. She's a YouTube sensation, and her tutorials inspire
              skaters all over the world.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <!--6-->
        <ion-card>
          <img
            src="https://media.istockphoto.com/id/686598164/photo/a-teenager-skateboarder-does-an-ollie-trick-in-a-skatepark-on-the-outskirts-of-the-city.webp?b=1&s=612x612&w=0&k=20&c=kN79Ve4l5_4H0PGd_36NIqux6WmE2aTWEfAKhNDpXM0="
          />
          <ion-card-header>
            <ion-card-title>Joey</ion-card-title>
            <ion-card-subtitle>New York</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Style: DIY Skater</p>
            <p>
              Bio: Joey is the king of the DIY skate scene. He's always on the
              hunt for abandoned pools, empty warehouses, and forgotten parks to
              turn into epic skate spots. Max is also an eco-conscious skater,
              using recycled boards and materials to build his ramps and
              obstacles.
            </p>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
