<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> SkateApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            label="Email"
            labelPlacement="floating"
            placeholder="Email"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            placeholder="Password"
            type="password"
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-button
          size="full"
          onclick=""
          window.location.href="https://w3docs.com"
          >Submit</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
